.Home .lander {
    padding: 10px;
    text-align: center;
    background-color:lightgrey;
  }
  
  .Home .container h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

  .Home {
    margin-top: 50px;
    background-color:lightgrey;
    height: 500px;
  }

